<!-- il simbolo di barra verticale funziona come la pipe in Linux -->
<h2>My Heroes</h2>
<ul class="heroes">
    <!-- ngFor ripete il codice dentro cui e per ogni elemento della lista -->
    <li *ngFor="let hero of heroes">
        <!-- il [class.classe-in-css] permette di scegliere quando applicare quel css o meno, ad esempio si applica
        il css di selected se hero e heroSelected -->
        <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<app-hero-detail [hero]="selectedHero">

</app-hero-detail>